@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

h2, h3, p {
  margin: 0;
}

a {
  margin: 0;
  text-decoration: none;
}

body {
  font-family: "Montserrat";
  margin: 0;
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}
@media (min-width: 768px) {
  .wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1920px) {
  .wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.header_container_mobile {
  width: 100vw;
}

.lang_tel {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  background: rgba(245, 245, 250, 0.2);
}

.contact_lang_btn {
  font-family: "Montserrat";
  width: 33px;
  height: 25px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #FFFFFF;
  background: transparent;
  border: none;
  border-radius: 8px;
}

.contact_lang_btn-active {
  background: #F0145A;
}

.contact_tel {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.logo_menu {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_btn {
  background: transparent;
  border: none;
  display: block;
  width: 32px;
  height: 32px;
  color: white;
  background-image: url("../images/icon_hamburger.svg");
}

@media (min-width: 768px) {
  .header_container_mobile {
    display: none;
  }
}
@media (max-width: 767px) {
  .header_container {
    display: none;
  }
}
.hlegal {
  padding-bottom: 30px;
  margin-bottom: 30px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url("../images/hlegal.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hlegal_title {
  margin-left: 96px;
  margin-right: 96px;
  text-align: center;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #FFFFFF;
}
.hlegal_arrow {
  margin-left: auto;
  margin-right: auto;
  background: transparent;
  width: 42px;
  height: 42px;
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hlegal_arrow:hover {
  border-color: red;
}
.hlegal_arrow:hover path {
  stroke: red;
}

.hlegal_menu {
  width: 1003px;
  padding-right: 0;
  margin-bottom: 30px;
  display: flex;
  column-gap: 30px;
  overflow-x: auto;
}
.hlegal_menu_link {
  display: inline-block;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #B3B3BA;
}
.hlegal_menu_link_active {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hlegal_menu_link:hover {
  color: red;
}

.hlegal_block {
  margin-bottom: 30px;
}
.hlegal_block_title {
  border-top: 4px solid rgba(255, 255, 255, 0.3);
  padding-top: 30px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.hlegal_block_description {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .hlegal_title {
    margin-left: 0;
    margin-right: 0;
  }
  .hlegal_menu {
    width: 1246px;
  }
  .hlegal_menu_link {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
  }
  .hlegal_block_title {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
  }
}
@media (min-width: 1024px) {
  .hlegal {
    width: 670px;
    left: calc(50% - 335px);
  }
  .hlegal_container {
    display: flex;
    justify-content: center;
  }
  .hlegal_menu {
    margin-left: 0;
    flex-direction: column;
    justify-content: center;
    width: 437px;
    padding-right: 60px;
    row-gap: 30px;
    align-items: flex-end;
    border-right: 2px solid rgba(255, 255, 255, 0.3);
  }
  .hlegal_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 467px;
    padding-left: 60px;
    border-left: 2px solid rgba(255, 255, 255, 0.3);
  }
  .hlegal_block_title {
    border-top: 0;
    padding-top: 0;
  }
}
@media (min-width: 1440px) {
  .hlegal_block {
    width: 643px;
  }
}
@media (min-width: 1920px) {
  .hlegal_block {
    width: 923px;
  }
}
.cards {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

@media (min-width: 768px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
  }
}
.card__icon {
  display: inline-block;
  width: 92px;
  height: 92px;
  background: #FFFFFF;
  border-radius: 24px;
}
.card__icon--ecommers {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url("../icons/Ecommerce.svg");
  margin-bottom: 30px;
}
.card__icon--support {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url("../icons/Support.svg");
  margin-bottom: 30px;
}
.card__icon--corporate {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url("../icons/Corporate.svg");
  margin-bottom: 30px;
}
.card__icon--trust {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url("../icons/Trust.svg");
  margin-bottom: 30px;
}
.card__icon--protection {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url("../icons/Protection.svg");
  margin-bottom: 30px;
}
.card__icon--contr {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url("../icons/Contr.svg");
  margin-bottom: 30px;
}
.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #24A3FF;
  margin-bottom: 15px;
}
.card__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .card {
    width: calc(50% - 30px);
  }
}
@media (min-width: 1024px) {
  .card {
    width: calc(33.33% - 40px);
  }
}
.service {
  margin-bottom: 50px;
  position: relative;
  padding-bottom: 60px;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
}
.service::before {
  content: "";
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -10px;
  height: 10px;
  background: #CACADB;
  border-radius: 0px 0px 12px 12px;
}
.service::after {
  content: "";
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: -20px;
  height: 10px;
  background: #E7E7F2;
  border-radius: 0px 0px 12px 12px;
}
@media (min-width: 768px) {
  .service {
    margin-bottom: 80px;
  }
}

.link {
  display: flex;
  width: 90px;
  color: #24A3FF;
}
.link::after {
  display: flex;
  content: url("../images/services_blue.svg");
  height: 14px;
  align-items: center;
  margin-left: 5px;
}
.link:hover {
  color: red;
}
.link:hover::after {
  display: flex;
  content: url("../images/services_red.svg");
  height: 14px;
  align-items: center;
  margin-left: 5px;
}
.link_title {
  display: flex;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
}

.service_link {
  margin-bottom: 20px;
}

.service_title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.team {
  margin-bottom: 106px;
}

.container {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 648px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 904px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1600px;
  }
}

.team_img1 {
  max-width: 648px;
  height: 500px;
  background-image: url("../fotos/Team-Tiny.jpg");
  border-radius: 12px 12px 0px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .team_img1 {
    width: 648px;
  }
}
@media (min-width: 1024px) {
  .team_img1 {
    width: 400px;
    height: 528px;
    border-radius: 12px 0px 0px 12px;
  }
}
@media (min-width: 1440px) {
  .team_img1 {
    height: 344px;
  }
}
@media (min-width: 1920px) {
  .team_img1 {
    height: 298px;
  }
}

.team_container {
  background: #F5F5FA;
  border-radius: 0 0 12px 12px;
  padding: 30px;
  max-width: 648px;
}
@media (min-width: 1024px) {
  .team_container {
    width: 504px;
    border-radius: 0px 12px 12px 0px;
  }
}
@media (min-width: 1440px) {
  .team_container {
    min-width: 920px;
  }
}
@media (min-width: 1920px) {
  .team_container {
    min-width: 1200px;
  }
}

.team_link {
  margin-bottom: 5px;
  display: flex;
  color: #24A3FF;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.team_link svg {
  margin-left: 4px;
  vertical-align: middle;
}
.team_link:hover {
  color: red;
}
.team_link:hover path {
  stroke: red;
}

.team_description {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.team_person {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
}

.team_position {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
}

.slider {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  column-gap: 15px;
}
.slider_item {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #24A3FF;
  opacity: 0.2;
  border: none;
}
.slider_active {
  opacity: 1;
}

.logoTable {
  max-width: 1720px;
  margin-left: auto;
  margin-right: auto;
}
.logoTable_title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  text-align: center;
}

.logoTable__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
}
.logoTable__link:nth-child(n+7) {
  display: none;
}

@media (min-width: 768px) {
  .logoTable_cards {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .logoTable__link:nth-child(n) {
    display: flex;
    width: 33.33%;
  }
}
@media (min-width: 1024px) {
  .logoTable__link:nth-child(n) {
    width: 25%;
  }
}
@media (min-width: 1720px) {
  .logoTable__link:nth-child(1) {
    border-radius: 12px 0px 0px 0px;
  }
}
@media (min-width: 1720px) {
  .logoTable__link:nth-child(4) {
    border-radius: 0px 12px 0px 0px;
  }
}
@media (min-width: 1720px) {
  .logoTable__link:nth-child(9) {
    border-radius: 0px 0px 0px 12px;
  }
}
@media (min-width: 1720px) {
  .logoTable__link:nth-child(12) {
    border-radius: 0px 0px 12px 0px;
  }
}
.hillel_link {
  background-color: #1C4280;
}

.wannabiz_link {
  background-color: #143646;
}

.tapgerine_link {
  background-color: #F48B30;
}

.look_link {
  background: #9E4DC3;
}

.orange_link {
  background-color: #FD9339;
}

.adt_link {
  background-color: #E2E2E4;
}

.clikky_link {
  background-color: #C71C36;
}

.eco_link {
  background-color: #DCF3F9;
}

.infratek_link {
  background: #EAEAEA;
}

.city_link {
  background-color: #282240;
}

.art_link {
  background-color: #1D4568;
}

.ulti_link {
  background-color: #000000;
}

.publications {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F5F5FA;
}

.publications_link {
  margin-bottom: 5px;
}

.publications_title {
  margin-bottom: 30px;
}

.block {
  background: #FFFFFF;
  border-radius: 8px;
  padding-bottom: 30px;
}
.block__img {
  height: 200px;
  border-radius: 8px 8px 0 0;
  margin-bottom: 30px;
}
.block__title {
  margin-left: 30px;
  margin-right: 30px;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
  margin-bottom: 15px;
}
.block__date {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  margin-bottom: 15px;
}
.block__date::after {
  content: "";
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 2px solid #E6E6F0;
}
.block__description {
  margin-left: 30px;
  margin-right: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .block:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
    max-width: none;
  }
}

.associate__img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url("../images/Associate.jpg");
  background-size: cover;
}

.gdpr__img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url("../images/GDPR.jpg");
  background-size: cover;
}

.testament__img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url("../images/Testament.jpg");
  background-size: cover;
}
@media (min-width: 768px) {
  .testament__img {
    background-size: cover;
  }
}

.publications_blocks {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
@media (min-width: 768px) {
  .publications_blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 30px;
  }
}
@media (min-width: 1024px) {
  .publications_blocks {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: none;
  }
}

.footer {
  background-color: #F5F5FA;
  padding-bottom: 30px;
}

.footer_container {
  padding-top: 30px;
  border-top: 2px solid #E6E6F0;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}
.address address {
  font-style: normal;
}

.map_link {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin-bottom: 30px;
}
.social .social_tel {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #46466E;
}
.social .social_email {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}

.copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #B3B3BA;
}

@media (min-width: 768px) {
  .footer_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .address {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: start;
    flex-direction: row;
    column-gap: 10px;
    margin-bottom: 21px;
  }
  .map_link {
    display: flex;
    align-items: center;
  }
  .map_link::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background: #B3B3BA;
    margin-right: 10px;
  }
  .social {
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: start;
    flex-direction: row;
    column-gap: 10px;
  }
  .social a {
    display: flex;
    align-items: center;
  }
  .social_tel::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background: #B3B3BA;
    margin-right: 10px;
  }
  .social_email::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background: #B3B3BA;
    margin-right: 10px;
  }
  .copyright {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
  }
}
.form {
  display: none;
  position: fixed;
  background: #323264;
  opacity: 0.7;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.form_block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  background: #F5F5FA;
  box-shadow: 0px 15px 80px rgba(40, 40, 86, 0.5);
  border-radius: 12px;
  padding: 30px;
}
.form_block input {
  display: block;
  width: 100%;
}
.form_block input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.form_block .form_title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.form_block .form_name {
  margin-bottom: 15px;
  height: 56px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  padding: 15px;
}
.form_block .textarea {
  margin-bottom: 30px;
  border: none;
  width: 100%;
  height: 130px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
}
.form_block .form_answer {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
}
.form_block .form_tel {
  margin-bottom: 15px;
  height: 56px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  padding: 15px;
}
.form_block .form_email {
  margin-bottom: 30px;
  height: 56px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  padding: 15px;
}
.form_block .send_buttom {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  background: #24A3FF;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}
.form_block .close_button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
}

.form_showed {
  display: block;
}