@use './mixins' as *;

@import './stylesheet';
@import './Sections/service';
@import './Sections/logoTable';

* {
  box-sizing: border-box;
}

h2, h3, p {
  margin: 0;
}

a {
  margin: 0;
  text-decoration: none;
}

body {
  font-family: 'Montserrat';
  margin: 0;
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;

  @media (min-width: 768px) {
    padding-left: 60px;
    padding-right: 60px;
  }
  @media (min-width: 1920px) {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.team {
  margin-bottom: 106px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 768px) {
    width: 648px;
  }
  @media (min-width: 1024px) {
    width: 904px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media (min-width: 1440px) {
    width: 1600px;
  }
}

.team_img1 {
  max-width: 648px;
  height: 500px;
  background-image: url('../fotos/Team-Tiny.jpg');
  border-radius: 12px 12px 0px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: 768px) {
    width: 648px;
  }
  @media (min-width: 1024px) {
    width: 400px;
    height: 528px;
    border-radius: 12px 0px 0px 12px;
  }
  @media (min-width: 1440px) {
    height: 344px;
  }
  @media (min-width: 1920px) {
    height: 298px;    
  }
}

.team_container {
  background: #F5F5FA;
  border-radius: 0 0 12px 12px;
  padding: 30px;
  max-width: 648px;
  @media (min-width: 1024px) {
    width: 504px;
    border-radius: 0px 12px 12px 0px;
  }
  @media (min-width: 1440px) {
    min-width: 920px;
  }
  @media (min-width: 1920px) {
    min-width: 1200px;
  }
}

.team_link {
  margin-bottom: 5px;
  display: flex;
  color: #24A3FF;
  @include font (700, 14, 17);
  svg {
    margin-left: 4px;
    vertical-align: middle;
  }
  &:hover {
    color: red;
  }
  &:hover path {
    stroke: red;
  }
}

.team_description {
  margin-bottom: 30px;
  @include font (700, 38, 46);
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.team_person {
  margin-bottom: 6px;
  @include font (700, 16, 20);
  color: #B3B3BA;
}

.team_position {
  display: block;
  @include font (400, 14, 22);
  color: #B3B3BA;
}

// PUBLICATIONS section
.publications {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 62px;
  background-color: #F5F5FA;
  // border-bottom: 2px solid #E6E6F0;
}

.publications_link {
  margin-bottom: 5px;
}

.publications_title {
  margin-bottom: 30px;
}

.block {
  max-width: 500px;
  background: #FFFFFF;
  border-radius: 8px;
  padding-bottom: 30px;
  &__img {
    height: 200px;
    border-radius: 8px 8px 0 0;
    margin-bottom: 30px;
    }
  &__title {
    margin-left: 30px;
    margin-right: 30px;
    display: block;
    @include font (700, 16, 20);
    color: #24A3FF;
    margin-bottom: 15px;
  }
  &__date {
    display: block;
    margin-left: 30px;
    margin-right: 30px;
    @include font (700, 12, 16);
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #B3B3BA;
    margin-bottom: 15px;
    &::after {
      content: '';
      display: block;
      margin-top: 15px;
      margin-bottom: 15px;
      border: 2px solid #E6E6F0;
    }
  }
  &__description {
    margin-left: 30px;
    margin-right: 30px;
    @include font (400, 14, 22);
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    &:nth-child(3) {
      grid-column-start: 1;
      grid-column-end: 3;
      max-width: none;
    }
  }
}

.associate__img {
  @include cover ('../images/Associate.jpg');
}

.gdpr__img {
  @include cover ('../images/GDPR.jpg');
}

.testament__img {
  @include cover ('../images/Testament.jpg');
      @media (min-width: 768px) {
        background-size: cover;
      }
}

.publications_blocks {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 30px;
  }
  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: none;
  }
}