@use './mixins' as *;

@import '../Cards/cards';
@import '../Cards/cards_media';
@import '../Cards/card';
@import '../Cards/card_media';

.service {
  margin-bottom: 50px;
  position: relative;
  padding-bottom: 60px;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
  &::before {
    content: '';
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: -10px;
    height: 10px;
    background: #CACADB;
    border-radius: 0px 0px 12px 12px;
  }
  &::after {
    content: '';
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: -20px;
    height: 10px;
    background: #E7E7F2;
    border-radius: 0px 0px 12px 12px;
  }
  @media (min-width: 768px) {
    margin-bottom: 80px;
  }
}

.link {
  display: flex;
  width: 90px;
  color: #24A3FF;
  &::after {
    display: flex;
    content: url('../images/services_blue.svg');
    height: 14px;
    align-items: center;
    margin-left: 5px;
  }
  &:hover {
    color: red;
  }
  &:hover::after {
    display: flex;
    content: url('../images/services_red.svg');
    height: 14px;
    align-items: center;
    margin-left: 5px;
  }

  &_title {
    display: flex;
    letter-spacing: 1px;
    text-transform: uppercase;
    @include font (700, 14, 14);
  }
}

.service_link {
  margin-bottom: 20px;
}

.service_title {
  margin-bottom: 30px;
  @include font(700, 30, 37);
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}